.nonterminal, .entry {
  &::before {
    content: '<';
  }
  &::after {
    content: '>';
  }
  &::before, &::after {
    font-weight: normal;
  }
}

.terminal {
  &::before, &::after {
    content: '"';
    font-style: normal;
  }
}