@import '../variables';

.textarea :global {
  .children {
    text-align: center;
  }

  .row1 {
    margin: 3px 0;
  }

  div.status {
    display: inline-block;
  }
}
:global .status-warn :local(.textarea) .status {
  color: $warn;
}

:global .status-error :local(.textarea) .status {
  color: $error;
}

:global .status-ok :local(.textarea) .status {
  color: $ok;
}