@import '../variables';

.strings {
  height: 100%;
  overflow: auto;
  padding: 6px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 6px 0;

    &:not(:last-child) {
      border-bottom: 1px dotted $grey;
    }
  }

  span {
    margin: 2px 0;
    display: block;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

    &.empty {
      font-style: italic;
      opacity: 0.6;
    }
  }
}