@import 'variables';

.grid {
  height: 100%;
  min-height: 0;
  min-width: 0;

  display: grid;
  //grid-gap: 8px;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 450px);
  grid-template-areas: "left"
    "right-top"
    "right-bottom";

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left right-top"
      "left right-bottom";
  }

  // any grid element
  > * {
    min-height: 0;
    min-width: 0;
  }
}

.grid1 {
  grid-area: left;
}


.grid2 {
  grid-area: right-top;
}

.grid3 {
  grid-area: right-bottom;
}