/**
 * App-wide styles
 */

@import 'variables';

html, body {
  margin: 0;
  padding: 0;

  background-color: $grey;
  font-size: 16px;
  @include desktop {
    font-size: 18px;
  }
}

h1, h2, h3 {
  font-size: inherit;
  margin: 0;
}

a {
  color: inherit;

  &:link, &[href] {
    border-bottom: 1px solid $primary;
    transition: border-bottom-color 0.1s ease-in-out;
    text-decoration: none;

    &:hover {
      border-bottom-color: $primary_light;
    }

    &:focus {
      border-bottom-color: $primary_dark;
    }
  }
}

label {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

$outer: 12px;
.App {
  display: flex;
  flex-direction: column;

  @include portrait {
    height: $minHeight;
  }
  @include desktop {
    height: 100vh;
  }

  // General header and footer styles
  &-header {
    font-size: 22px;
    @include desktop {
      font-size: 28px;
    }

    @include bodypadding($outer, 18px);

    background-color: $primary;
    //box-shadow: 0px 2px 6px grey;
  }

  &-footer {
    padding: 2px 4px;
    font-size: 14px;
  }

  &-body {
    @include bodypadding();
  }

  &-bodyComponent {
    margin: $outer;
    padding: 6px 4px;
    border-radius: 12px;
    /*border: 2px solid $primary;
    background-color: $secondary_light;*/
    background-color: $lightgrey;

    $shadows: -2px 2px 5px grey, 2px 2px 5px grey;
    box-shadow: $shadows;

    &.status-warn {
      box-shadow: $shadows, 0px 1px 5px 3px $warn;
    }
    &.status-error {
      box-shadow: $shadows, 0px 1px 5px 3px $error;
    }
    &.status-ok {
      box-shadow: $shadows, 0px 1px 5px 3px $ok;
    }
  }
}

.button {
  all: unset;
  margin: auto 6px;

  font-size: inherit;
  border-radius: 6px;
  padding: 8px 21px;

  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  cursor: pointer;

  &:disabled, &.disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &.primary {
    background-color: $primary;
    border: 2px solid $primary;

    &:hover {
      background-color: $primary_light;
    }

    &:focus {
      background-color: $primary_dark;
    }
  }

  &.secondary {
    background-color: $secondary;
    border: 2px solid $secondary;

    &:hover {
      background-color: $secondary_light;
    }

    &:focus {
      background-color: $secondary_dark;
    }
  }

  .input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5.5px;
    margin-bottom: -5.5px;
  }
}

.input {
  all: unset;

  height: 1em;
  width: auto;
  max-width: 60px;

  background: transparent;

  padding: 7px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-sizing: content-box;

  cursor: text;

  &.primary {
    border-color: $primary;

    &:focus {
      border-color: $primary_dark;
    }
  }

  &.secondary {
    border-color: $secondary_dark;

    &:focus {
      border-color: $secondary_light;
    }
  }

  &.secondary_alt {
    border-color: $secondary_alt;

    &:focus {
      border-color: $secondary_dark;
    }
  }

  -moz-appearance: textfield;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.ReactModal__Content {
  inset: 15px;

  @include portrait {
    inset: 40px;
  }
}